@page
@model AdminModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-6">Admin pagina</h1>
</div>
<div class="text-center">
    <form class="form-inline" method="post" action="">
        <div class="form-group mx-sm-3 mb-2">
            <label for="AdminID" class="sr-only">Vul uw admin id in:</label>
            <input type="number" class="form-control w-25 mx-auto" id="AdminID" name="AdminID">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Confirm</button>
    </form>
</div>

