@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Monteur"><button type="button" class="btn btn-primary btn-lg">Monteur</button></a>
    <button type="button" class="btn btn-secondary btn-lg">Admin</button>
</div>
