@page
@model MonteurModel
@{
    ViewData["Title"] = "Monteur Page";
}

<div class="text-center">
    <h1 class="display-4">Monteur pagina</h1>
</div>
<div class="text-center">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="MonteurID" class="sr-only">Vul uw monteur id in:</label>
            <input type="number" class="form-control" id="MonteurID">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Confirm</button>
    </form>
</div>