@page
@model Voorraad.WebApp.Pages.SuccessPageModel
@{
    ViewData["Title"] = "Success Page";
}

<div class="text-center">
    <h1 class="display-4">Success!</h1>
    <h2>Results from Monteur Page:</h2>
    <ul>
        @foreach (var result in Model.TempData)
        {
            // <li>@result.Key, @result.Value</li>
            @foreach (var elem in (string[])result.Value)
            {
                <li>@elem</li>
            }
        }
    </ul>
</div>
