@page
@model Voorraad.WebApp.Pages.SuccessPageModel
@{
    ViewData["Title"] = "Success Page";
}

<div class="text-center">
    <h1 class="display-4">Success!</h1>
    @if (TempData["MonteurResults"] != null)
    {
        var monteurResultsJson = TempData["MonteurResults"] as string;
        var monteurResults = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string[]>>(monteurResultsJson);

        <h2>Results from Monteur Page:</h2>
        <ul>
            @foreach (var result in monteurResults)
            {
                <li>
                    @foreach (var item in result)
                    {
                        @item
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p>No results from Monteur Page.</p>
    }
</div>

